<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<script src="/js/main.js"></script>
<head>
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
	<script th:inline="javascript">
		$(document).ready(function() {
			calculateToalPrice();
			$("#count").change(function() {
				calculateToalPrice();
			});
		});
		
		function calculateToalPrice() {
			var count = $("#count").val();
			var price = $("#price").val();
			var totalPrice = price * count;
			$("#totalPrice").html(totalPrice + '원');
		}
		
		function order() {
			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");

			var url = "/order";
			var paramData = {
				lectureId : $("#lectureId").val(),
				count : $("#count").val()
			};

			var param = JSON.stringify(paramData);

			$.ajax({
				url : url,
				type : "POST",
				contentType : "application/json",
				data : param,
				beforeSend : function(xhr) {
					/* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
					xhr.setRequestHeader(header, token);
				},
				dataType : "json",
				cache : false,
				success : function(result, status) {
					alert("강의 신청이 완료 되었습니다.");
					location.href = '/lectures';
				},
				error : function(jqXHR, status, error) {

					if (jqXHR.status == '500') {
						alert('로그인 후 이용해주세요');
						location.href = '/members/login';
					} else {
						alert(jqXHR.responseText);
					}

				}
			});
		}
		
		function addCart() {
			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");

			var url = "/cart";
			var paramData = {
				lectureId : $("#lectureId").val(),
				count : $("#count").val()
			};

			var param = JSON.stringify(paramData);

			$.ajax({
				url : url,
				type : "POST",
				contentType : "application/json",
				data : param,
				beforeSend : function(xhr) {
					/* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
					xhr.setRequestHeader(header, token);
				},
				dataType : "json",
				cache : false,
				success : function(result, status) {
					alert("강의를 장바구니에 담았습니다.");
					location.href = '/lectures';
				},
				error : function(jqXHR, status, error) {

					if (jqXHR.status == '500') {
						alert('로그인 후 이용해주세요');
						location.href = '/members/login';
					} else {
						alert(jqXHR.responseText);
					}

				}
			});
		}

	</script>
</th:block>
<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
	<link rel="stylesheet" type="text/css" href="/css/lecture/lectureDtl.css">
</th:block>

</head>
<div layout:fragment="content" style="margin-left:25%; margin-right:25%">
	<input type="hidden" id="lectureId" th:value="${lecture.id}">
	<br>
	<br>
	<p class="title">강 의 정 보</p>
	<br>
	<div class="wrap">
	<div class="d-flex">
		<div class="repImgDiv">
			<img th:src="${lecture.lectureImgDtoList[0].imgUrl}" class="rounded repImg" th:alt="${lecture.lectureNm}">
		</div>
		<div class="wd50">
			<span th:if="${lecture.lectureSellStatus == T(com.youth.constant.LectureSellStatus).OPEN}" class="badge mgb-15">
				오픈강의
			</span>
			<span th:unless="${lecture.lectureSellStatus == T(com.youth.constant.LectureSellStatus).OPEN}" class="badge btn-danger mgb-15">
				클로즈강의
			</span>
			<div class="h4" th:text="${lecture.lectureNm}"></div>
			<hr class="my-4">
			
			<div class="text-right">
				<div class="h4 text-primary text-left">
					<input type="hidden" th:value="${lecture.price}" id="price" name="price">
					<span th:text="${lecture.price}"></span>원
				</div>
				<div class="input-group w-50">
					<div class="input-group-prepend">
						<span class="input-group-text">수량</span>
					</div>
					<input type="number" name="count" id="count" class="form-control" value="1" min="1" readonly>
				</div>
				
			</div>
			<hr class="my-4">
			<div class="text-right mgt-50">
				<h5>결제 금액</h5>
				<h3 name="totalPrice" id="totalPrice" class="font-weight-bold"></h3>
			</div>
			<div th:if="${lecture.lectureSellStatus == T(com.youth.constant.LectureSellStatus).OPEN}" class="text-right">
				<!-- <button type="button" class="btn btn-primary btn-lg" style="min-width:160px;" onclick="addCart()">장바구니 담기</button> -->
				<button type="button" class="btn btn-primary btn-lg" onclick="order()">강의듣기</button>
			</div>
			<div th:unless="${lecture.lectureSellStatus == T(com.youth.constant.LectureSellStatus).OPEN}" class="text-right">
				<button type="button" class="btn btn-danger btn-lg">클로즈강의</button>
			</div>
		</div>
	</div>

	<div class="jumbotron jumbotron-fluid mgt-30">
		<div class="container">
			<h4 class="display-6" style="text-align: center;">강의 상세 설명</h4>
			<hr class="my-4">
			<p class="lead" th:text="${lecture.lectureDetail}"></p>
		</div>
	</div>

	<div th:each="lectureImg : ${lecture.lectureImgDtoList}" class="text-center">
		<img th:if="${not #strings.isEmpty(lectureImg.imgUrl)}" th:src="${lectureImg.imgUrl}" class="rounded mgb-15" width="90%">
	</div>
	</div>
</div>
</html>