<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div class="footer" th:fragment="footer">
	<footer class="page-footer font-small cyan darken-3">
		<div class="container-fluid bg-white text-body footer mt-5 pt-5 wow fadeIn" data-wow-delay="0.1s">
			<div class="container py-5">
				<div class="row g-5">
					<div class="col-lg-3 col-md-6">
						<img src="/img/logoY_B.png"> <br> <br>
						<p class="mb-2">
							<i class="fa fa-map-marker-alt me-3"></i>경기도 부천시 부천로 143 3층, 4층(14566) 경기도일자리재단 청년일자리본부
						</p>
						<p class="mb-2">
							<i class="fa fa-phone-alt me-3"></i>031-270-9893, 1668-3547
						</p>
						<p class="mb-2">
							<i class="fa fa-envelope me-3"></i>youthcenter@gjf.or.kr
						</p>
						<p class="mb-2">
							Copyright© Gyeonggido Job Foundation. All Rights Reserved.
						</p>
					</div>
					<div class="col-lg-3 col-md-6">
						<img class="lo" src="/img/jaedan.png">
					</div>
				</div>
			</div>
		</div>
	</footer>
</div>
</html>